@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap');
body, html {
	height: 100%;
	margin: 0;

  }
  body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	background-color: #f4f4f4;
  }

.row,
.container,
.container-fluid {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-family: 'Courier-Prime', monospace;
	color: #f8f8f7;
	margin-left: 20px;
}

a.navbar-brand {
	color: rgb(248, 248, 247);
    display: none;
}

.navbar-nav .nav-link {
	color: #f8f8f7;
}

.fa {
	margin-right: 5px;
}


/* Box Shadow Outset */

.hvr-box-shadow-outset {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}

.hvr-box-shadow-outset:hover,
.hvr-box-shadow-outset:focus,
.hvr-box-shadow-outset:active {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.navbar-nav>li {
	margin: 0px 25px 0px 25px;
	font-size: 1.3em;
	font-family: 'Courier-Prime', monospace;
	font-weight: 600;
}


/* The code below is a formula to overwrite bootstrap toggler colour taken from GiHub https://github.com/css/csso/issues/377 */

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(248, 248, 247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	outline: none;
}

.logo-img {
	height: 35px;
	margin-left: 15px;
}

nav {
	background-color: #bc936f;
	-webkit-box-shadow: 1px 6px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 6px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 6px 6px 0px rgba(50, 50, 50, 0.75);
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
  .hero-text {
	font-family: 'Courier-Prime', monospace;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #f8f8f7;
  }
  .hero-text>h1 {
	font-size: 25px;
  }

.alert>p{
    text-align: center;
}

.alert>p{
    color: #cf551a;
    font-weight: 600;
    margin: 0;

}
.container-form {
	border: 2px solid #cacaca;
	text-align: center;
    height: 350px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	border-radius: 15px;
}

.register-form {
    height: 500px;
}

.register-btn {
    margin-top: 20px;
}

.register-header {
    text-align: center;
}

.form-body {
	padding: 70px;
}

.row-icon {
	height: 60px;;
	width: auto;
	background-color: #bc936f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.login-header {
	color: #F6FEDB;
  font-family: 'Courier-Prime', monospace;
  font-size: 24px;
  padding-top: 10px;
	
}

.input-group {
	padding: 0px 10px 0px 12px;
}

.custom-btn {
	background-color: #8c734e;
	border-color: #F6FEDB;
}

@media screen and (min-width: 768px){

  .container-form{
    width: 60%;
  }
}

@media screen and (min-width: 1024px){

  .container-form{
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
	a.navbar-brand {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.navbar-nav {
		display: block;
		float: none;
		text-align: center;
		margin: 0 auto;
  }
 
 }