
@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap');

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    background-color: #DCC48E;
}



.row, .container, .container-fluid {
    margin:0;
    padding:0;
}

.navbar-brand {
  font-family: 'Courier-Prime', monospace;
  color: #F6FEDB;
  margin-left: 20px;
 
}

.navbar-nav .nav-link {
  color: #F6FEDB;
}



.navbar-nav > li {
  margin: 0px 25px 0px 25px;
  font-size: 1.3em;
  font-family: 'Courier-Prime', monospace;
  font-weight: 600;
}

/* The code below is a formula to overwrite bootstrap toggler colour taken from GiHub https://github.com/css/csso/issues/377 */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 196, 142)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.custom-toggler.navbar-toggler {
  outline: none;
}

 /* .navbar-toggler-icon {
background-color: rgb(220, 196, 142);
color: #fafafa;
 } */

.logo-img {
  height: 35px;
  margin-left: 15px;
 
}

nav {
  background-color: #6C5A49;
}

/* .border-around {
  position:absolute;
    top:0; left:0;
    width: 100%; height: 100%;
    border: 5px solid red;
   
  
} */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: #6C5A49;  
  line-height: 50px;    
  height: 50px;    
  width: 100%;       
}

footer > p {
  text-align: center;
  margin-bottom: 0;
  color: #F6FEDB;
}

@media screen and (max-width: 360px) {

  .navbar-brand {
    display: none;
  }
}
