{% extends 'base.html' %}
{% block content %}


  <!-- COMMENT AREA --------------------------->
<div class="container comment-container mx-auto">
 <form method="POST" action="{{ url_for('add_comment') }}">
  <div class="form-group">
    <label for="comment">Why would you pick this book?</label>
    <textarea class="form-control" id="comment" name="comment" 
    minlength="5" maxlength="300" rows="3" required></textarea>
  </div>
</form> 
<a class="custom-btn btn" href="{{ url_for('add_comment') }}" role="button">Add comment</a>
</div>
{% endblock %}

