
{% extends 'base.html' %}
{% block content %}

 <div class="hero-image">
    <div class="hero-text">
        <h1>What do you want to read this month?</h1>
    </div>
</div>
{% for book in books %}
<div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <span>Title:</span> {{ book.title }} <br>
    <span>Author:</span> {{ book.author_fname }}{{ book.author_sname }}<br>
    <span>Genre:</span> {{ book.genre }}<br>
    <span>Published:</span> {{ book.year }}<br>
    <span>Synopsis:</span> {{ book.synopsis }}
  </li>
</ul>


{% endfor %} 
</div>  

{% endblock %}
               