
{% extends 'base.html' %}
{% block content %}

 <div class="hero-image">
    <div class="hero-text"> 
    
    {% if session.user %}
        <h1>Pick your book choice for next month's bookclub!</h1>
    {% else %}
     <h1>Log in to pick your book choice for next month's bookclub!</h1>
    {% endif %}
    </div>
</div>
{% for book in books %}
<div class="container container-books mx-auto"> 

            <p><span class="book-details">Title:</span>  {{ book.title }} </p>
            <p><span class="book-details">Author:</span>  {{ book.author_fname }} {{ book.author_sname }}</p> 
            <p><span class="book-details">Genre:</span>  {{ book.genre }}</p> 
            <p><span class="book-details">Published:</span>  {{ book.year }}</p>
            <p><span class="book-details">Synopsis:</span> {{ book.synopsis }}</p> 
{% if session.user %}
    {% for comment in comments %}

        {% if comment.title==book.title %}
    <div>
            <p><span >Posted by:</span>  {{ comment.username }} </p>
            <p class="book-details"><italic>Comment:</italic> {{ comment.comment }} </p>   
    </div>
            
            {% if comment.username==session.user %}
                <a class="custom-btn btn" type="submit"  href="{{ url_for('delete_comment', comment_id=comment._id) }}">Delete</a>
                <a class="custom-btn btn" type="submit"  href="{{ url_for('update_comment', comment_id=comment._id) }}">Update</a>
            {% endif %}

        {% endif %}

    {% endfor %} 


    <a class="custom-btn btn" type="submit"  href="{{ url_for('add_comment', book_id=book._id) }}" role="button">Add comment</a>
   
    <div>
        
  
    </div>  
{% endif %}
</div>

<hr>

{% endfor %} 


{% endblock %}
               