{% extends 'base.html' %}
{% block content %}
<!-- Registration form -->
<div>
  <div class="container-form">
    <form method="POST" action="{{ url_for('register') }}">
      <div class="row-icon">
        <p class="login-header">
          <i class="fa fa-lock" aria-hidden="true"></i> REGISTER
        </p>
      </div>
      <br />
      <br />
      <div class="card-panel">
        <!-- Username input -->
        <div class="row">
          <div class="input-field col s12">
            <label for="username">Username</label>
            <br>
              <input id="username" name="username" type="text" pattern="[a-zd.]{5,15}" class="form-control validate" required>
              </div>
            </div>
            <!-- Password input -->
            <div class="row">
              <div class="input-field col s12">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" class=" form-control validate" required>
                </div>
              </div>
              <!-- Register button -->
              <div class="register-btn">
                <button type="submit" class="btn custom-btn"> REGISTER</button>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="footer-div col s12 ">
              <p class="footer">Already a member?
               <!-- If the user is already a member they can be redirected to the login page with this button -->
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log in</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Instructions for creating the username and password -->
        <div class="footer-registration">
          <p >The username must contain minimum 6 characters, only lowercase letters;
         
            <br>
         The password must contain minimum 6 characters, at least one letter and one number.
      
            </p>
          </div>
        </div>
{% endblock %}

